<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加用户</title>
    
</head>

<body>
    <center>
        <h1>用户信息管理</h1>
        <div class="nav-links">
            <a href="{% url 'indexusers'%}">浏览信息</a> |
            <a href="{% url 'addusers'%}">添加用户</a>
        </div>
        <hr>

        <h2>提示操作信息</h2>
        <p>{% if info %} {{ info }} {% endif %}</p>
    </center>

</body>

</html>